<mat-card>
  <mat-card-header>JOUEUR 1</mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="7" rowHeight="1:1">
      <div *ngFor="let line of boardBoxes; let x = index">
        <mat-grid-tile
          [ngClass]="[
            box.icon === undefined && !box.text ? 'touchable' : 'untouchable'
          ]"
          [class]="box.class"
          *ngFor="let box of line; let y = index"
          (click)="addIcon(x, y)"
        >
          <p *ngIf="box.text">{{ box.text }}</p>
          <mat-icon *ngIf="box.icon">{{ box.icon }}</mat-icon>
          <mat-icon *ngIf="box.icon === undefined && !box.text">add</mat-icon>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
