mat-card {
    background-color: lightblue;
}

.box {
    background: blanchedalmond;
}

.empty {
    background-color: transparent;
}

.result {
    background-color: aliceblue;
}

.special {
    background-color: grey;
}

.untouchable {
    cursor: not-allowed;
}

.touchable {
    cursor: pointer;
}